[mysqld]
bind-address=0.0.0.0
transaction_isolation='read-committed'
#slow_query_log=1
#long_query_time=2

#lower_case_table_names=1
skip-log-bin
skip-ssl
skip-mysqlx
gtid_mode=off
max_connections=2000
back_log=1000
join_buffer_size=2M
key_buffer_size=16M
sort_buffer_size=2M
join_buffer_size=2M
read_rnd_buffer_size=1M
log_slave_updates=OFF
table_open_cache=81920
table_open_cache_instances=64
max_prepared_stmt_count=1000000
performance_schema=OFF
default-time-zone="+08:00"
check_proxy_users=ON
log_raw=ON
mysql_native_password_proxy_users=ON